body, html{
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial Black";
}
header{
    text-align: center;
}
menu{
    margin: 28px 0;
}
header a{
    color: #16a085;
    margin: 43px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.img-container{
    height: 790px;
}
img{
    width: 100%;
    height: 100%;
}
.container{
    width: 1100px;
    margin: 0 auto;
    /*font-weight: bold;*/
}
.grey-bg{
    background-color: #f5f6f7;
}
.content{
    text-align: center;
}
.content h1{
    margin: 0;
    padding: 50px 0 10px;
    font-size: 22px;
    /*font-weight: normal;*/
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 2px;
}
.content p{
    margin: 14px 25px 35px;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 1px;
    font-weight: bold;
    line-height: 25px;
}
.content button{
    background-color: #16a085;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 20px 40px;
    font-weight: bold;
    margin: 5px 0 90px;
    letter-spacing: 2px;
}
footer  p{
    margin: 40px 0;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    word-spacing: 3px;
}